## ML - Simple Regression Model - for predicting house prices

In [1]:
# import all the required libraries

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('d:/datasets/analytics/USA_Housing.csv')

In [3]:
df.head()

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Price,Address
0,79545.45857,5.682861,7.009188,4.09,23086.80050,1.059034e+06,"208 Michael Ferry Apt. 674\nLaurabury, NE 3701..."
1,79248.64245,6.002900,6.730821,3.09,40173.07217,1.505891e+06,"188 Johnson Views Suite 079\nLake Kathleen, CA..."
2,61287.06718,5.865890,8.512727,5.13,36882.15940,1.058988e+06,"9127 Elizabeth Stravenue\nDanieltown, WI 06482..."
3,63345.24005,7.188236,5.586729,3.26,34310.24283,1.260617e+06,USS Barnett\nFPO AP 44820
4,59982.19723,5.040555,7.839388,4.23,26354.10947,6.309435e+05,USNS Raymond\nFPO AE 09386

In [4]:
df.columns

Index(['Avg. Area Income', 'Avg. Area House Age', 'Avg. Area Number of Rooms',
       'Avg. Area Number of Bedrooms', 'Area Population', 'Price', 'Address'],
      dtype='object')

In [5]:
# define  X  (input/predictor feature)  y for response variable

X = df[['Avg. Area House Age']]
y = df['Price']

In [6]:
len(df) #  no. of records or observations

5000

In [7]:
# Split the data (5000 records) for Training and Testing the Model

from sklearn.model_selection import train_test_split

# 30% for testing --  70% for training
X_train,X_test, y_train,y_test = train_test_split(X,y,test_size=.30)

In [8]:
len(X_train)

3500

In [9]:
len(X_test)

1500

In [10]:
# import the linear regressin algorithm to build the model
from sklearn.linear_model import LinearRegression

In [11]:
# Initialize the Model 
hpredict = LinearRegression()

In [12]:
# Train the model  --- supervised learning
hpredict.fit(X_train,y_train)  #  3500 houses data with prices

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [13]:
# Evaluate the model;    Coefficient,  intercept ...

In [14]:
hpredict.coef_   # coeffient;  one unit increase in ind. varia ---

array([163583.62695946])

In [15]:
hpredict.intercept_     # y intercept : the value of Y when X = 0


#  X -- independent variable :  age  /  experience
#  Y -- dependent variable:   price  /  salary

252311.9260227183

In [19]:
# Predict the house price based on any given house age ...
hpredict.predict([[12.56]])

array([2306922.28063358])

In [ ]:
# Model Accuracy ;  performance metrics -- RMSE (root mean squred error)
# R squared ...